In [13]:
import numpy as np
import pandas as pd
A = np.zeros((10, 20, 40))
B = A[5:, :-2, ::2]

In [11]:
B.shape

(5, 18, 20)

In [7]:
meaning_of_life = 42
hello = "Hello, World!"
primes = [2, 3, 5, 7, 11, 13, 17, 19]
sides = ('east', 'south', 'west', 'north')
cities = {'Shymkent': (42.34, 69.59), 'Almaty': (43.24, 76.89), 'Astana': (51.17, 71.45)}
lengths = {len(city) for city in cities}

In [8]:
lenghts
id(lengths)

4420179712

In [9]:
lengths.add(10)

In [10]:
lengths

{6, 8, 10}

In [11]:
id(lengths)

4420179712

In [14]:
airports = pd.read_csv("../../ASA/airports.csv")
airports.head()

,iata,airport,city,state,country,lat,long
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944

In [15]:
airports.mean()

/var/folders/_m/fd0pgt2d59q_98kq7r467pv80000gn/T/ipykernel_50472/3360799761.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  airports.mean()

lat     40.036524
long   -98.621205
dtype: float64

In [16]:
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   iata     3376 non-null   object
 1   airport  3376 non-null   object
 2   city     3364 non-null   object
 3   state    3364 non-null   object
 4   country  3376 non-null   object
 5   lat      3376 non-null   float64
 6   long     3376 non-null   float64
dtypes: float64(2), object(5)
memory usage: 184.8+ KB

In [17]:
airports.dropna(subset=['city', 'country'], inplace=True)

In [17]:
airports[['lat', 'long']].mean()

lat     40.036524
long   -98.621205
dtype: float64